body {
    background-color: #f5f6fa;
}

.main {
  height: 100vh;
}

.search-container {
  display: flex;
  align-items: center;
}

.map-container {
  height: 500px;
}

#map {
  border-radius: 12px;
  overflow: hidden;
}

.chart-container .col {
  background-color: #eff2f6;
  border-radius: 12px;
}

.linear-chart {
  height: 100%;
}

.header-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.title-container h2 {
  color: #fc3c3c;
  margin-bottom: 0;
  font-weight: 600;
}

.stats-container .card-title {
    color: #695d5c;
    font-weight: 400;
}

.stats-container .card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.stats-container .card-subtitle {
    font-weight: 600;
}


.stats-container .total {
    font-size: 0.8rem;
}

.search-container .card-body {
  padding: 1rem;
}

.side-panel-container {
  background-color:white;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  padding-top: 15px;
}

.total-number {
  color: #cc1034;
}

.recovered-number {
  color: #7fd922;
}

.deaths-number {
  color: #fa5575;
}
