.main {
    height: 100vh;
}

.search-container {
    display: flex;
    align-items: center;
}

.map-container {
    height: 500px;
}

#map {
    border-radius: 12px;
    overflow: hidden;
}

.chart-container .col{
    background-color: #eff2f6;
    border-radius: 12px;
}

.chart-container {
    height: 300px;
}

.linear-chart {
    height: 100%;
}

.title-container h1 {
    color: #fc3c3c;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.title-container h4 {
    text-transform: uppercase;
    color: #cacbcf;
}

.stats-container .card {
    background-color: #eff2f6;
    border-radius: 12px;
}

.search-container .card-body {
    padding: 1rem;
}